.title {
  font-size: 55px;
  text-align: center;
  color: $default-font-color;
  padding-bottom: 10px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
}
